# STM32CubeIDE
/.settings/
/CM4/.settings/
/CM7/.settings/
/Assets/Tools/
/Assets/Videos/
/Assets/Docs/
/Assets/Images/HighRes/
/Drivers/
/CM4/Drivers/
/CM7/Drivers/
/CM7/USB_HOST/
/Debug/
/CM4/Debug/
/CM7/Debug/
/Release/
/CM4/Release/
/CM7/Release/
/USB_Device/
/Middlewares/
*.launch

# Libraries with undefined licenses


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
